.bouton:not(:has(> a)){
    padding: var(--espace-petit) var(--espace-moyen);
}


.bouton {
    border-radius: var(--espace-tres-petit);

    &>a {
        padding: var(--espace-petit) var(--espace-moyen);
    }

    &.bouton-principal {
        background-color:var(--couleur-secondaire);

        & a{
            color: var(--couleur-texte);
        }
        &:hover {
            background: white;
            color: var(--couleur-texte);
            text-decoration: underline;

            & a{
                color: var(--couleur-texte);
            }
        }
    }

    &.bouton-secondaire {
        background-color: var(--couleur-accent);

        & a{
            color: var(--couleur-texte);
        }
        &:hover{
            background: var(--couleur-tier);
            color: var(--couleur-texte-secondaire);
            text-decoration: underline;

            & a{
                color: var(--couleur-texte-secondaire);
            }
        }
    }

    &.bouton-tier {
        background-color: var(--couleur-tier);
        color: white;

        & a {
            color: var(--couleur-texte-secondaire);
        }
        &:hover {
            background: var(--couleur-accent);
            text-decoration: underline;
            color: black;
            cursor: pointer;

            & a{
                color: var(--couleur-texte);
            }
        }
    }

    @media (max-width: 530px){
        margin: var(--espace-moyen) auto;
    }
}