.container {
    width: max-content;
    margin: var(--espace-moyen) auto;
    border: var(--espace-super-mini) solid var(--couleur-tier);
    border-radius: var(--espace-petit);
    flex-grow: 0;
    flex-shrink: 0;

    & .error{
        width: fit-content;
        display: inline-block;
        padding: var(--espace-petit);
        background-color: var(--couleur-fond-erreur);
        border-radius: var(--espace-tres-petit);
        border: var(--couleur-erreur) var(--espace-super-mini) solid;
        font-size: var(--taille-petite);
        color: var(--couleur-erreur);
        margin: 0 auto;
        text-align: center;
    }

    &.flex-col-center, & .flex-col-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--espace-moyen);
        padding: var(--espace-moyen);
    }

    & .flex-col-center {
        align-items: flex-start;
    }

    & input:not([type="submit"]) {
        width: 100%;
        padding: var(--espace-tres-petit);
        border: var(--espace-super-mini) solid var(--couleur-tier);
        border-radius: var(--espace-petit);
    }

    & input[type="submit"] {
        border: none;
        cursor: pointer;
        outline: none;
        font: inherit;
    }

    & textarea, & select {
        width: 100%;
        border: var(--espace-super-mini) solid var(--couleur-tier);
        border-radius: var(--espace-petit);
        padding: var(--espace-tres-petit);
    }

    & input[type="checkbox"] {
        display: inline-block;
        border: var(--espace-super-mini) solid var(--couleur-tier);
        border-radius: var(--espace-petit);
        margin: var(--espace-mini);
        width: var(--espace-moyen);
        height: var(--espace-moyen);
        cursor: pointer;
    }



}