
.grille {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--espace-moyen);

    & li {
        list-style: none;
    }

    & .enchere {
        max-width: 300px;
        padding: var(--espace-moyen);
        flex-direction: column;
        border: 3px solid var(--couleur-tier);
        border-radius: var(--espace-tres-petit);

        & a {
            text-decoration: none;
            color: var(--couleur-texte);

            &>*+* {
                margin: var(--espace-moyen) 0;
            }

            & img {
                display: flex;
                justify-self: center;
                width: 200px;
                height: 200px;
                object-fit: cover;
            }

            &:hover{
                text-decoration: underline;
            }
        }

        & h2, & p, & span {
            max-width: 25ch;
        }

        &.flex-gap {
            display: flex;
            gap: var(--espace-moyen);
        }
    }

    & .Mise {
        align-items:baseline;
        color: var(--couleur-texte);
        justify-content: center;

        & a {
            color: var(--couleur-texte);
            padding: var(--espace-petit);
            background-color: var(--couleur-accent);
            border-radius: var(--espace-tres-petit);
        }

        & a:hover {
            color: var(--couleur-accent);
            background-color: var(--couleur-texte);
        }
    }

    @media (max-width: 530px) {
        gap: var(--espace-tres-petit);
        margin: var(--espace-tres-petit);
    }
}